.diamond {
    position: relative;
    height: 200px;
    width: 200px;
    line-height: 200px;
    text-align: center;
    margin: 10px 40px;
  }
  .diamond:before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transform: rotateX(45deg) rotateZ(45deg);
    box-shadow: 0px 0px 12px gray;
  }
  .diamond:after {
    position: absolute;
    top: 10px;
    left: 10px;
    content: '';
    height: calc(100% - 22px);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
    width: calc(100% - 22px);  /* -22px is 2 * 10px gap on either side - 2px border on either side */
    border: 1px solid rgb(58, 138, 251);
    transform: rotateX(45deg) rotateZ(45deg);
  }
 #text1{
     text-align: center;
     margin-bottom: 30px;
 }
 #text2{
     font-size: 22px;
     font-weight: bold;
 }
 #text3{
     font-size: 17px;
 }
 #head{
     text-align: center;
     padding: 5px 0 5px 0;
     background: -webkit-linear-gradient(rgb(255, 82, 24), rgb(24, 142, 246));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     /* text-decoration: underline; */
     font-size: 40px;
     font-weight: bold;
     margin-bottom: 20px;

 }